.h1_Title {
    color: aliceblue;
    text-align: center; /* center text inside the blog */
    margin-bottom: 1rem; /* space below title */
    font-size: 2rem; 
    /* remove display: flex / grid positioning */
}


.div_Blog {
    color: aliceblue;
    margin: 3% 20%;
    width: 50%;
    background-color: #2e283d;
    padding: 20px;
    border-radius: 10px;
}

.div_Blogs {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.div_Fullpage {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 15vh 100%;
    /* height: 100%; */
}

.info {
    margin-top: 3rem;
}

.info p {
    display: inline;
}

.info .Creator {
    margin-right: 2rem;
}


@media (max-width: 1200px) {
    .info p {
        display: block;
    }

    .h1_Title {
        display: none;
        margin: 1rem 0; /* smaller margin for mobile */
        width: 100%; /* fill parent container */
    }
    

    .div_Fullpage {
        display: flex;

        justify-content: center;
        
    }

    .div_Blog {
        margin: 3% 0;
        width: calc(90vw - 2*40px);
        background-color: #2e283d;
        padding: 20px;
    }
}