.WilkommenDIV, .Credit-Div {
    width: 30%;
    padding: 2.5% 5%;
    margin: 2% auto;
}

.WilkommenDIV {
    background-color: #262133;
    color: #b4b4b4;
    border-radius: 10px;
    

    font-size: 2.5rem;
    line-height: 1.2;


}

.Credit-Div {
    background-color: #262133;
    color: #b4b4b4;
    border-radius: 10px;
    margin: 0% auto;

    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 10%;


}





.Applaus {
    font-size: 2.2rem;
    position: relative;
    left: -8%;
}

/* Tablet (768px and below) */
@media (max-width: 768px) {
    .Credit-Div {
        width: 50%;

        font-size: 1.2rem;
    }

    .WilkommenDIV, .Credit-Div {
        width:60%;
        padding: 3% 10%;
        margin: 5% auto;

    }
}

/* Mobile (480px and below) */
@media (max-width: 520px) {
    .Credit-Div {
        font-size: 1.4rem;
        padding: 7% 15%;
        border-radius: 0px;
        margin: 0px;
        width: auto;
        height: auto;

    }

    .WilkommenDIV {
        font-size: 2rem;
        margin: 0;
        padding: 3% 5%;
        padding-bottom: 0;
        width: auto;
        /* text-decoration: underline; */
    }

    body {
        background-color: #262133 !important;
    }
}

ul {
    padding: 0;
    margin: 0;
}
